@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("./assets/fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Lato";
  margin: 0;
  height: 100%;
  --box-background: rgba(238, 228, 218, 0.35);
}

.dark {
  --page-background: rgba(0, 0, 0, 0.85);
  --text-color: #fff;
}

.light {
  --page-background: #fff;
  --text-color: #000;
}

#app {
  width: 100vw;
  height: 100%;

  & > div {
    height: inherit;
  }
}
